Repository Djoppie/Djoppie-Hive: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/ci-backend.yml, pipelines/ci-frontend.yml

pipelines/ci-backend.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build & Test
    jobs:
    - job: BuildJob
      displayName: Build Backend API
      steps:
      - task: UseDotNet@2
        displayName: Install .NET SDK
        inputs:
          packageType: sdk
          version: $(dotnetVersion)
  ...

pipelines/ci-frontend.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build & Lint
    jobs:
    - job: BuildJob
      displayName: Build Frontend
      steps:
      - task: NodeTool@0
        displayName: Install Node.js
        inputs:
          versionSpec: $(nodeVersion)
      - script: npm ci
  ...

Fix security vulnerabilities and ESLint 10 compatibility
  hr-personeel/package-lock.json
  hr-personeel/package.json
  hr-personeel/src/auth/AuthProvider.tsx
  hr-personeel/src/components/MedewerkerModal.tsx
  hr-personeel/src/pages/PersoneelLijst.tsx
  hr-personeel/src/services/api.ts
Due: pipelines/ci-frontend.yml

Document organizational hierarchy and sync architecture
  CLAUDE.md
Due: none

Implement Microsoft Graph sync with validation workflow
  hr-personeel/src/components/BronIndicator.tsx
  hr-personeel/src/components/SyncKnop.tsx
  hr-personeel/src/components/SyncValidatieSection.tsx
  hr-personeel/src/components/ValidatieBadge.tsx
  hr-personeel/src/index.css
  hr-personeel/src/pages/DistributieGroepen.tsx
  hr-personeel/src/pages/Validatie.tsx
  hr-personeel/src/services/api.ts
  hr-personeel/src/types/index.ts
  src/backend/DjoppieHive.API/Controllers/SyncController.cs
  src/backend/DjoppieHive.API/Controllers/ValidatieVerzoekenController.cs
  src/backend/DjoppieHive.API/DjoppieHive.API.csproj
  src/backend/DjoppieHive.Core/DTOs/SyncDtos.cs
  src/backend/DjoppieHive.Core/DTOs/ValidatieVerzoekDtos.cs
  src/backend/DjoppieHive.Core/Entities/DistributionGroup.cs
  src/backend/DjoppieHive.Core/Entities/Employee.cs
  src/backend/DjoppieHive.Core/Entities/EmployeeGroupMembership.cs
  src/backend/DjoppieHive.Core/Entities/SyncLogboek.cs
  src/backend/DjoppieHive.Core/Entities/ValidatieVerzoek.cs
  src/backend/DjoppieHive.Core/Enums/GegevensBron.cs
  src/backend/DjoppieHive.Core/Enums/GroepNiveau.cs
  src/backend/DjoppieHive.Core/Enums/SyncStatus.cs
  src/backend/DjoppieHive.Core/Enums/ValidatieEnums.cs
  src/backend/DjoppieHive.Core/Interfaces/ISyncService.cs
  src/backend/DjoppieHive.Core/Interfaces/IValidatieVerzoekService.cs
  src/backend/DjoppieHive.Infrastructure/Data/ApplicationDbContext.cs
  src/backend/DjoppieHive.Infrastructure/Data/DesignTimeDbContextFactory.cs
  src/backend/DjoppieHive.Infrastructure/DependencyInjection.cs
  src/backend/DjoppieHive.Infrastructure/Migrations/20260222005613_AddSyncEnValidatieEntiteiten.Designer.cs
  src/backend/DjoppieHive.Infrastructure/Migrations/20260222005613_AddSyncEnValidatieEntiteiten.cs
  src/backend/DjoppieHive.Infrastructure/Migrations/ApplicationDbContextModelSnapshot.cs
  src/backend/DjoppieHive.Infrastructure/Services/SyncService.cs
  src/backend/DjoppieHive.Infrastructure/Services/ValidatieVerzoekService.cs
Due: pipelines/ci-backend.yml, pipelines/ci-frontend.yml

Add stub services for graceful fallback without Graph credentials
  src/backend/DjoppieHive.Infrastructure/DependencyInjection.cs
  src/backend/DjoppieHive.Infrastructure/Services/StubDistributionGroupService.cs
  src/backend/DjoppieHive.Infrastructure/Services/StubEmployeeService.cs
  src/backend/DjoppieHive.Infrastructure/Services/StubSyncService.cs
Due: pipelines/ci-backend.yml

Add SQLite WAL files to gitignore
  .gitignore
Due: none

Add localhost:5174 to CORS allowed origins
  src/backend/DjoppieHive.API/Program.cs
Due: pipelines/ci-backend.yml

Add UserSecretsId to API project
  src/backend/DjoppieHive.API/DjoppieHive.API.csproj
Due: pipelines/ci-backend.yml

Add owners and nested groups retrieval with Graph-based hierarchy detection
  src/backend/DjoppieHive.API/Controllers/DistributionGroupsController.cs
  src/backend/DjoppieHive.API/Controllers/SyncController.cs
  src/backend/DjoppieHive.API/Program.cs
  src/backend/DjoppieHive.Core/DTOs/DistributionGroupDto.cs
  src/backend/DjoppieHive.Core/Interfaces/IDistributionGroupService.cs
  src/backend/DjoppieHive.Infrastructure/Services/GraphDistributionGroupService.cs
  src/backend/DjoppieHive.Infrastructure/Services/StubDistributionGroupService.cs
  src/backend/DjoppieHive.Infrastructure/Services/SyncService.cs
Due: pipelines/ci-backend.yml

Add sector hierarchy page with jobTitle-based role detection
  hr-personeel/src/App.tsx
  hr-personeel/src/components/Layout.tsx
  hr-personeel/src/index.css
  hr-personeel/src/pages/SectorHierarchy.tsx
  hr-personeel/src/services/api.ts
Due: pipelines/ci-frontend.yml

Add full personnel and volunteer management (Phase 1 + 2)
  hr-personeel/src/App.tsx
  hr-personeel/src/components/Layout.tsx
  hr-personeel/src/components/VrijwilligerModal.tsx
  hr-personeel/src/index.css
  hr-personeel/src/pages/PersoneelLijst.tsx
  hr-personeel/src/pages/Vrijwilligers.tsx
  hr-personeel/src/services/api.ts
  hr-personeel/src/services/employeeService.ts
  hr-personeel/src/services/volunteerService.ts
  hr-personeel/src/utils/employeeMapper.ts
  src/backend/DjoppieHive.API/Controllers/EmployeesController.cs
  src/backend/DjoppieHive.API/Controllers/VrijwilligersController.cs
  src/backend/DjoppieHive.Core/DTOs/CreateEmployeeDto.cs
  src/backend/DjoppieHive.Core/DTOs/EmployeeDto.cs
  src/backend/DjoppieHive.Core/DTOs/EmployeeFilter.cs
  src/backend/DjoppieHive.Core/DTOs/UpdateEmployeeDto.cs
  src/backend/DjoppieHive.Core/DTOs/VrijwilligerDetailsDto.cs
  src/backend/DjoppieHive.Core/Entities/Employee.cs
  src/backend/DjoppieHive.Core/Entities/VrijwilligerDetails.cs
  src/backend/DjoppieHive.Core/Enums/EmployeeEnums.cs
  src/backend/DjoppieHive.Core/Interfaces/IEmployeeService.cs
  src/backend/DjoppieHive.Infrastructure/Data/ApplicationDbContext.cs
  src/backend/DjoppieHive.Infrastructure/DependencyInjection.cs
  src/backend/DjoppieHive.Infrastructure/Migrations/20260222044558_AddEmployeeHRFieldsAndVolunteerDetails.Designer.cs
  src/backend/DjoppieHive.Infrastructure/Migrations/20260222044558_AddEmployeeHRFieldsAndVolunteerDetails.cs
  src/backend/DjoppieHive.Infrastructure/Services/EmployeeService.cs
  src/backend/DjoppieHive.Infrastructure/Services/GraphDistributionGroupService.cs
  src/backend/DjoppieHive.Infrastructure/Services/GraphEmployeeService.cs
  src/backend/DjoppieHive.Infrastructure/Services/StubEmployeeService.cs
Due: pipelines/ci-backend.yml, pipelines/ci-frontend.yml

Add implementation documentation for Phase 1 + 2
  hr-personeel/BACKEND_INTEGRATION.md
  src/backend/IMPLEMENTATION_SUMMARY.md
Due: pipelines/ci-backend.yml, pipelines/ci-frontend.yml

Connect Validatie page to real ValidatieVerzoeken API (Phase 4)
  hr-personeel/src/components/Layout.tsx
  hr-personeel/src/index.css
  hr-personeel/src/pages/Validatie.tsx
  hr-personeel/src/services/api.ts
  src/backend/DjoppieHive.API/Controllers/ValidatieVerzoekenController.cs
Due: pipelines/ci-backend.yml, pipelines/ci-frontend.yml

Add reporting & statistics dashboard (Phase 5)
  hr-personeel/src/App.tsx
  hr-personeel/src/components/Layout.tsx
  hr-personeel/src/index.css
  hr-personeel/src/pages/Dashboard.tsx
  hr-personeel/src/pages/SyncGeschiedenis.tsx
  hr-personeel/src/services/api.ts
  src/backend/DjoppieHive.API/Controllers/StatisticsController.cs
  src/backend/DjoppieHive.API/Controllers/SyncController.cs
  src/backend/DjoppieHive.Core/DTOs/StatisticsDto.cs
  src/backend/DjoppieHive.Core/Interfaces/IStatisticsService.cs
  src/backend/DjoppieHive.Infrastructure/DependencyInjection.cs
  src/backend/DjoppieHive.Infrastructure/Services/StatisticsService.cs
Due: pipelines/ci-backend.yml, pipelines/ci-frontend.yml

Redesign Validatie and PersoneelLijst pages with improved UX
  hr-personeel/src/index.css
  hr-personeel/src/pages/Dashboard.tsx
  hr-personeel/src/pages/PersoneelLijst.tsx
  hr-personeel/src/pages/Validatie.tsx
  hr-personeel/src/services/api.ts
  hr-personeel/src/types/index.ts
Due: pipelines/ci-frontend.yml

Add dark/light theme toggle with neumorphic design and cleanup
  hr-personeel/src/components/Layout.tsx
  hr-personeel/src/components/ThemeToggle.tsx
  hr-personeel/src/context/PersoneelContext.tsx
  hr-personeel/src/context/ThemeContext.tsx
  hr-personeel/src/index.css
  hr-personeel/src/main.tsx
  hr-personeel/src/services/api.ts
  hr-personeel/src/types/index.ts
  hr-personeel/src/utils/employeeMapper.ts
Due: pipelines/ci-frontend.yml

Add user roles documentation and ICT super admin role preparation
  docs/GEBRUIKERSROLLEN.md
  hr-personeel/src/types/index.ts
Due: pipelines/ci-frontend.yml

Move theme toggle above user section in sidebar
  hr-personeel/src/components/Layout.tsx
  hr-personeel/src/index.css
Due: pipelines/ci-frontend.yml

Fix distribution group member count and member list display
  hr-personeel/src/components/ThemeToggle.tsx
  hr-personeel/src/context/PersoneelContext.tsx
  hr-personeel/src/data/mockData.ts
  hr-personeel/src/index.css
  hr-personeel/src/pages/DistributieGroepen.tsx
  hr-personeel/src/types/index.ts
Due: pipelines/ci-frontend.yml

Fix 'Lid toevoegen' modal and add page max-width
  hr-personeel/src/index.css
  hr-personeel/src/pages/DistributieGroepen.tsx
Due: pipelines/ci-frontend.yml

Make tables responsive and fit within page width
  hr-personeel/src/index.css
Due: pipelines/ci-frontend.yml

Remove unused checkboxes from Validatie table
  hr-personeel/src/index.css
  hr-personeel/src/pages/Validatie.tsx
Due: pipelines/ci-frontend.yml

Remove AllowAnonymous security vulnerability and test endpoints
  CLAUDE.md
  docs/BUGFIXES_AND_ENHANCEMENTS.md
  hr-personeel/src/services/api.ts
  src/backend/DjoppieHive.API/Controllers/DistributionGroupsController.cs
  src/backend/DjoppieHive.API/Controllers/EmployeesController.cs
  src/backend/DjoppieHive.API/Controllers/StatisticsController.cs
  src/backend/DjoppieHive.API/Controllers/SyncController.cs
  src/backend/DjoppieHive.API/Controllers/ValidatieVerzoekenController.cs
  src/backend/DjoppieHive.API/Controllers/VrijwilligersController.cs
Due: pipelines/ci-backend.yml, pipelines/ci-frontend.yml

Add MG-iedereenpersoneel hierarchy support for personnel overview
  CLAUDE.md
  docs/BUGFIXES_AND_ENHANCEMENTS.md
  src/backend/DjoppieHive.API/Controllers/DistributionGroupsController.cs
  src/backend/DjoppieHive.Core/DTOs/DistributionGroupDto.cs
  src/backend/DjoppieHive.Core/Interfaces/IDistributionGroupService.cs
  src/backend/DjoppieHive.Infrastructure/Services/GraphDistributionGroupService.cs
  src/backend/DjoppieHive.Infrastructure/Services/StubDistributionGroupService.cs
Due: pipelines/ci-backend.yml

Add frontend support for organization hierarchy endpoint
  docs/BUGFIXES_AND_ENHANCEMENTS.md
  hr-personeel/src/pages/SectorHierarchy.tsx
  hr-personeel/src/services/api.ts
Due: pipelines/ci-frontend.yml

Update Entra ID client ID for Djoppie-Hive-Web app registration
  CLAUDE.md
Due: none

Add sector name support to employee data
  hr-personeel/src/utils/employeeMapper.ts
  src/backend/DjoppieHive.Core/DTOs/EmployeeDto.cs
  src/backend/DjoppieHive.Infrastructure/Services/EmployeeService.cs
  src/backend/DjoppieHive.Infrastructure/Services/GraphEmployeeService.cs
Due: pipelines/ci-backend.yml, pipelines/ci-frontend.yml

Add sector filter and sync DienstId assignment
  hr-personeel/src/services/api.ts
  src/backend/DjoppieHive.API/Controllers/EmployeesController.cs
  src/backend/DjoppieHive.API/Controllers/SyncController.cs
  src/backend/DjoppieHive.Core/DTOs/EmployeeFilter.cs
  src/backend/DjoppieHive.Infrastructure/Services/EmployeeService.cs
  src/backend/DjoppieHive.Infrastructure/Services/SyncService.cs
Due: pipelines/ci-backend.yml, pipelines/ci-frontend.yml

Load sector filter options from hierarchy API
  hr-personeel/src/pages/PersoneelLijst.tsx
Due: pipelines/ci-frontend.yml

Deleted md files
  CLAUDE.md
Due: none

Deleted agents
  .claude/agents/azure-deployment-architect.md
  .claude/agents/backend-architect.md
  .claude/agents/documentation-writer.md
  .claude/agents/frontend-architect.md
  .claude/agents/project-orchestrator.md
  .claude/agents/security-auditor.md
  .claude/agents/ui-design-expert.md
  .claude/settings.local.json
Due: none

Add initial ICT Super Admin role for jo.wijnen@diepenbeek.be
  src/backend/DjoppieHive.API/Authorization/UserContextService.cs
  src/backend/DjoppieHive.Infrastructure/Migrations/20260224170000_SeedInitialAdmin.Designer.cs
  src/backend/DjoppieHive.Infrastructure/Migrations/20260224170000_SeedInitialAdmin.cs
Due: pipelines/ci-backend.yml

Add employee validation status workflow and logo component
  .claude/settings.local.json
  docs/ADMIN_HANDLEIDING.md
  docs/BUGFIXES_AND_ENHANCEMENTS.md
  docs/GEBRUIKERSHANDLEIDING.md
  docs/SECURITY_AUDIT.md
  hr-personeel/src/auth/AuthProvider.tsx
  hr-personeel/src/components/Layout.tsx
  hr-personeel/src/components/Logo/DjoppieHiveLogo.module.css
  hr-personeel/src/components/Logo/DjoppieHiveLogo.tsx
  hr-personeel/src/components/Logo/README.md
  hr-personeel/src/components/Logo/index.ts
  hr-personeel/src/context/UserRoleContext.tsx
  hr-personeel/src/index.css
  hr-personeel/src/pages/LogoShowcase.module.css
  hr-personeel/src/pages/LogoShowcase.tsx
  hr-personeel/src/pages/Validatie.tsx
  hr-personeel/src/services/api.ts
  hr-personeel/src/utils/employeeMapper.ts
  src/backend/DjoppieHive.API/Authorization/AuthorizationExtensions.cs
  src/backend/DjoppieHive.API/Authorization/DatabaseRoleRequirement.cs
  src/backend/DjoppieHive.API/Authorization/UserContextService.cs
  src/backend/DjoppieHive.API/Controllers/EmployeesController.cs
  src/backend/DjoppieHive.API/Controllers/MeController.cs
  src/backend/DjoppieHive.Core/DTOs/EmployeeDto.cs
  src/backend/DjoppieHive.Core/Entities/Employee.cs
  src/backend/DjoppieHive.Core/Enums/EmployeeEnums.cs
  src/backend/DjoppieHive.Core/Interfaces/IEmployeeService.cs
  src/backend/DjoppieHive.Infrastructure/Migrations/20260224235355_AddEmployeeValidatieStatus.Designer.cs
  src/backend/DjoppieHive.Infrastructure/Migrations/20260224235355_AddEmployeeValidatieStatus.cs
  src/backend/DjoppieHive.Infrastructure/Services/EmployeeService.cs
  src/backend/DjoppieHive.Infrastructure/Services/GraphEmployeeService.cs
  src/backend/DjoppieHive.Infrastructure/Services/StubEmployeeService.cs
  src/backend/DjoppieHive.Tests/Controllers/EmployeesControllerTests.cs
Due: pipelines/ci-backend.yml, pipelines/ci-frontend.yml

Add comprehensive frontend test suite (Phase 5.4)
  hr-personeel/src/auth/AuthProvider.test.tsx
  hr-personeel/src/context/UserRoleContext.test.tsx
  hr-personeel/src/pages/Validatie.test.tsx
  hr-personeel/src/pages/Vrijwilligers.tsx
  hr-personeel/src/services/api.test.ts
  hr-personeel/src/test/mocks/msalMock.ts
  hr-personeel/src/test/setup.ts
  hr-personeel/src/utils/employeeMapper.test.ts
  hr-personeel/src/utils/employeeMapper.ts
  hr-personeel/tsconfig.app.json
  src/backend/DjoppieHive.API/Controllers/SyncController.cs
  src/backend/DjoppieHive.API/Controllers/ValidatieVerzoekenController.cs
  src/backend/DjoppieHive.Core/DTOs/CreateEmployeeDto.cs
  src/backend/DjoppieHive.Core/DTOs/EmployeeDto.cs
  src/backend/DjoppieHive.Core/DTOs/EmployeeFilter.cs
  src/backend/DjoppieHive.Core/DTOs/UpdateEmployeeDto.cs
  src/backend/DjoppieHive.Core/Interfaces/ISyncService.cs
  src/backend/DjoppieHive.Core/Interfaces/IValidatieVerzoekService.cs
Due: pipelines/ci-backend.yml, pipelines/ci-frontend.yml

Add Swagger/OpenAPI documentation (Phase 5.7)
  docs/API_DOCUMENTATION.md
  docs/PHASE_5_7_SWAGGER_IMPLEMENTATION.md
  docs/SWAGGER_QUICK_START.md
  docs/SWAGGER_VERIFICATION.md
Due: none

Update Claude Code local settings with test permissions
  .claude/settings.local.json
Due: none

Add Phase 6 deployment infrastructure (Tasks 6.3, 6.5)
  docs/IMPLEMENTATION_PLAN.md
  infra/bicep/main.dev.bicep
  infra/bicep/modules/monitoring-alerts.bicep
  infra/bicep/modules/monitoring-dashboard.bicep
  pipelines/cd-deploy.yml
Due: none

Add Hybrid Groups system for unified group management
  docs/refactor-hr-scope.md
  hr-personeel/src/pages/DistributieGroepen.tsx
  hr-personeel/src/pages/Uitnodigingen.tsx
  hr-personeel/src/services/api.ts
  hr-personeel/src/types/index.ts
  src/backend/DjoppieHive.API/Controllers/UnifiedGroupsController.cs
  src/backend/DjoppieHive.API/Program.cs
  src/backend/DjoppieHive.Core/DTOs/UnifiedGroupDtos.cs
  src/backend/DjoppieHive.Core/Entities/DynamicGroup.cs
  src/backend/DjoppieHive.Core/Entities/LocalGroup.cs
  src/backend/DjoppieHive.Core/Entities/LocalGroupMember.cs
  src/backend/DjoppieHive.Core/Enums/GroupSource.cs
  src/backend/DjoppieHive.Core/Interfaces/IUnifiedGroupService.cs
  src/backend/DjoppieHive.Infrastructure/Data/ApplicationDbContext.cs
  src/backend/DjoppieHive.Infrastructure/DependencyInjection.cs
  src/backend/DjoppieHive.Infrastructure/Migrations/20260225094139_AddHybridGroups.Designer.cs
  src/backend/DjoppieHive.Infrastructure/Migrations/20260225094139_AddHybridGroups.cs
  src/backend/DjoppieHive.Infrastructure/Services/UnifiedGroupService.cs
Due: pipelines/ci-backend.yml, pipelines/ci-frontend.yml

Fix sync stuck in running state - add 30 min timeout
  src/backend/DjoppieHive.Infrastructure/Services/SyncService.cs
Due: pipelines/ci-backend.yml

Add Microsoft 365 License Management feature
  hr-personeel/src/App.tsx
  hr-personeel/src/components/Layout.tsx
  hr-personeel/src/pages/Licenties.tsx
  hr-personeel/src/services/api.ts
  hr-personeel/src/types/index.ts
  src/backend/DjoppieHive.API/Controllers/LicensesController.cs
  src/backend/DjoppieHive.Core/DTOs/LicenseDtos.cs
  src/backend/DjoppieHive.Core/Interfaces/ILicenseService.cs
  src/backend/DjoppieHive.Infrastructure/DependencyInjection.cs
  src/backend/DjoppieHive.Infrastructure/Services/LicenseService.cs
Due: pipelines/ci-backend.yml, pipelines/ci-frontend.yml

Path conditions:
  pipelines/ci-backend.yml: any of: src/backend, pipelines/ci-backend.yml
  pipelines/ci-frontend.yml: any of: hr-personeel, pipelines/ci-frontend.yml
